.box{
    height: 380px;
    width: 550px;
    margin-left: 50px;
    background: #fff;

}
.nav{
    color: white;
    margin: 2%;
}
.text{
    padding: 5px;
    background: rgb(221, 217, 217);
    color: black;
    border-radius: 5px;

}